<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <div id="react-root"><%-root%></div>
    <script>
      window.INITIAL_STATE = <%-initialState %>
    </script>
    <script src="<%-bundleSrc%>"></script>
  </body>
</html>
